
* {
	font-size: medium;
	padding: 2px;
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.page-title {
	padding: 5px;
	width: 100%;
	font-size: x-large;
	color: black;
	background-color: lightgray;
	text-align: left;
}

.task-list-view {
	display: flex;
	flex-direction: row;
}

.task-list-panel {
	order: 1;
}

.edit-task-form {
	order: 2;
}
